{% extends 'base.html' %}


{% block content %}

<h1>{{ title }}</h1>

<form action="{% url 'add_page' %} " method="post">
    {% csrf_token %}
<!-- Выравнивание + создание формы -->
    <p>
        <label class="form-label" for="{{ form.title.id_for_label }}">
            {{ form.title.label }}:
        </label>
        {{ form.title }}
    </p>
    <div class="form-error"> {{ form.title.errors }}</div>

<!-- пробегаемся циклом по forms и заполняем  данными из forms.py класса AddEvents-->
    {% for f in form %}
    <p>
        <label class="form-label" for="{{ f.id_for_label }}">
                {{ f.label }}:
        </label>
        {{ f }}
    </p>

    <div class="form-error"> {{ f.errors }}</div>

    {% endfor %}
    <button type="submit">Добавить в ленту</button>
</form>

{% endblock content %}

