{% extends 'base.html' %}



{% block content %}
<h1>Контакты для связи</h1>
<dl>
    <dt>
        Номер телефона:
    </dt>
    <dd>+375256829051</dd>
    <dt>
        Email:
    </dt>
    <dd>Mainsite@mail.ru</dd>
    <dt>
        Социальные сети:
    </dt>
    <dd>
        <a href="https://vk.com/gasakrus" target="_blank"><i></i>ВК</a>
    </dd>
    <dd><a href="#" target="_blank"><i></i>Инстаграмм</a></dd>
    <dd><a href="#" target="_blank"><i></i>Телеграмм</a></dd>

</dl>

{% endblock content %}