{% extends 'base.html' %}


{% block content %}

<h1 align="center">{{ title }}</h1>
{% for ds in discussion %}
<div class="article-panel">
    <h2>
        Написал {{ ds.name }}
    </h2>
    <p>
        {{ ds.message }}
    </p>
    <p class="last">Дата создания {{ ds.date|date:"d-m-Y (H:i)" }} </p>
</div>
{% endfor %}

<div class="clear"></div>
{% if request.user.is_authenticated %}
        <p class="link-read-post">
            <a href="{% url 'discussion_add' %}">Написать сообщение в обсуждения</a>
        </p>
{% endif %}

{% endblock content %}

