{% extends 'base.html' %}


{% block content %}

<h1 align="center">{{ title }}</h1>
{% for ds in discussion %}
<div>
    <h2>
        Написал {{ user.first_name }}
    </h2>
    {% if request.user.is_superuser %}
    <h4>
        Логин {{ user.username }}
    </h4>
    {% endif %}
    <p>
        {{ ds.message }}
    </p>
</div>
{% endfor %}
<div class="clear"></div>
        <p class="link-read-post">
            <a href="{% url 'discussion_add' %}">Написать сообщение в обсуждения</a>
        </p>


{% endblock content %}

