{% extends 'base.html' %}


{% block content %}
<ul class="list-articles">

    {% for act in active %}
    <li>
       <div class="article-panel">
            <p class="first">Группа {{ act.group }}</p>


            <p class="last">Дата создания {{ act.create_date|date:"d-m-Y" }} </p>
       </div>
        {% if act.photo %}
        <p>
            <img class="img-article-left" src="{{ act.photo.url }}">
        </p>
        {% endif %}

        <h2>{{ act.title }}</h2>
        <p> {{ act.content|linebreaks|truncatewords:15}} </p>

        <div class="clear"></div>
        <p class="link-read-post"><a href="{{ act.get_absolute_url }}">Посмотреть событие</a></p>
        {% if request.user.is_superuser %}
           <p class="first">Сделал пост {{ user.username }}</p>
           {% endif %}
        {% endfor %}


    </li>

</ul>

{% endblock content %}


